#tweets-container {
  width: 100%;
  margin: 2em 0;
}
.tweet {
  align-content: center;
  border: 4px solid #20201e;
  display: flex;
  margin-top: 10px 0;
  flex-direction: column;
  width: 100%;
  padding: 0 8px;
}
/*for article header*/
.tweet header {
  justify-content: space-between;
  background-color: inherit;
  background-image: none;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 8px;
  padding: 6px 9px;
  width: 100%;
}

.tweet section {
  line-height: 2.5;
}
/*to display at the center of the profile icon*/
.tweet-icon {
  align-content: center;
  display: flex;
  justify-content: center;
}
/*to align text to the center of the image*/
.tweet-icon div.icon-text {
  align-self: center;
}

.tweet header .user {
  color: #9a9a9a;
}
/*for text inside article*/
.tweet div {
  height: auto;
  padding: 6px 9px;
  width: auto;
}

/*for article footer*/
.tweet footer {
  border-top: 4px solid #20201e;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin: 8px;
  padding: 6px 9px;
  width: auto;
}

.tweet .icons {
  color: #4056a1;
}
.tweet .icons i {
  margin-left: 0.33em;
}

.tweet .icons i:hover,
.tweet .icons i:focus {
  cursor: pointer;
  color: goldenrod;
}

/*hovering effect*/
.tweet:hover {
  box-shadow: 4px 5px #888888;
}
